* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7;
  background: #eee;
  color: #333;
}

.form-group,
.form-group h4,
.form-group input {
  width: 100%;
}

.form-group h4 {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 0.1rem;

  font-family: "Playfair Display", serif;
  color: #3e403f;
}

.form-group input {
  padding: 10px 20px;

  border-bottom: 2px solid black;
  margin-bottom: 5%;
  height: 50px;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Abel", sans-serif;
  color: #181616;
  background-color: aliceblue;
  outline: none;

  border-radius: 10px;
}

.form-group input:focus {
  border-bottom: 3px solid coral;
}

.btn {
  margin-top: 1rem;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  border-radius: 10px;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: coral;
  color: #fff;
}

.error-message {
  width: 100%;
  display: inline-block;
  padding: 5px;
  background: red;
  color: #fff;
  text-align: center;
  margin: 0.5rem 0;
}

.success-message {
  width: 100%;
  display: inline-block;
  padding: 5px;
  background: green;
  color: #fff;
  text-align: center;
  margin: 0.5rem 0;
}
