* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
}
.screen {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url("./Fluid_background_2019_3-1-34.jpg");
  background-size: cover;

  /* background: linear-gradient(to right, #8300cd, #b800c4, #fff); */
}
.heading {
  margin-top: 20vh;
}
.content {
  width: 40%;
  height: 50%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  background-image: url("./Flat\ Boy\ With\ Glasses\ Vector\ Illustration-02.jpg");
  background-size: 150px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-color: #fff;
  border-radius: 40px;
}

.btn {
  margin-top: 2rem;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  width: 60%;
  font-size: 1rem;
  border-radius: 10px;
  background-color: coral;
  color: #fff;
}
